<div class="login-page">
    <div class="form">
      <form class="login-form">
        <select id="id_origen" name="select-origen">
            <option value="" selected >Selecciona tu origen</option>
            <option value="1">Bogota (BOG)</option>
            <option value="2" >Medellin (MDE)</option>
          </select>
        <select id="id_destino" name="select-destino">
            <option value="" selected >Selecciona un destino</option>
            <option value="1">Bogota (BOG)</option>
            <option value="2" >Medellin (MDE)</option>
          </select>
        <select id="id_aerolinea" name="select-aerolinea">
            <option value="" selected >Selecciona una Aerolinea</option>
            <option value="1">Avianaca</option>
            <option value="2" >LATAM</option>
          </select>
        <button>Comprar</button>
      </form>
    </div>
  </div>